<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HerokuAppTestSuite" thread-count="4">
    <listeners>
        <listener class-name="org.herokuapp.utilities.SuiteListener"/>
    </listeners>
    <test name="ClickTests">
        <groups>
            <run>
                <include name="new"/>
                <exclude name="done"/>
            </run>
        </groups>
        <classes>
            <class name="testcases.QATests"/>
            <class name="testcases.AddDeleteElementsTest"/>
            <class name="testcases.BasicAuth"/>
        </classes>
    </test>
</suite>